:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #1B1B1B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin-block: 0;
}

button {
  transition: transform 0.12s ease;
  border: none
}

button:active {
  transform: scale(0.95);
}
